<!--  파일명: adminuser.ejs
      파일설명: 사용자 관리 화면
      개발자: 신예나
      개발일: 2020.12. -->

<script>
function removeCheck() {
  if ($("input:checkbox[name='delete']").is(":checked") == false ){
    alert("삭제할 사용자를 선택하시오");
    return;
  }
  else {
    if (confirm("정말 삭제하시겠습니까?") == true) {
      document.adminuserform.submit();
    }
    else {
      return;
    }
  }
}
</script>
<content>
    <div>
        <img src="/images/banner.jpg" alt="banner" width="100%" height="250px">
    </div>
    <div class="container-fluid">
        <ul class="breadcrumb mt-3">
            <li class="breadcrumb-item">가천도어락</li>
            <li class="breadcrumb-item active">사용자 관리</li>
        </ul>

    </div>
    <div class="container">
        <form method="post" name="adminuserform" action="/web/adminuser/?_method=delete">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th><a href="#" onclick="removeCheck()">삭제</a></th>
                        <th>사용자 아이디</th>
                        <th>사용자 이름</th>
                        <th>사용자 전화번호</th>
                        <th>등록일시</th>
                    </tr>
                </thead>
                <tbody>
                    <% userdata.forEach(function (item, index) { %>
                    <tr>
                        <td><input type="checkbox" name="delete" value="<%=item.uid%>"></td>
                        <td><%=item.uid%></td>
                        <td><%=item.name%></td>
                        <td><%=item.phone%></td>
                        <td><%=item.reg_date.toLocaleString();%></td>
                    </tr>
                    <% }); %>
            </table>
        </form>

        <ul class="pagination justify-content-center">
            <% if (page == 1) { %>
            <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
            <% } else { %>
            <li class="page-item"><a class="page-link" href="/web/adminuser/?page=<%=Number(page)-1%>">Previous</a></li>
            <% } %>

            <% for (i=1; i<=totalPages; i++) { %>
            <% if (i==page) { %>
            <li class="page-item active"><a class="page-link" href="/web/adminuser/?page=<%=i%>"><%=i%></a></li>
            <% } else { %>
            <li class="page-item"><a class="page-link" href="/web/adminuser/?page=<%=i%>"><%=i%></a></li>
            <% } %>
            <% } %>

            <% if (page == totalPages) { %>
            <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
            <% } else { %>
            <li class="page-item"><a class="page-link" href="/web/adminuser/?page=<%=Number(page)+1%>">Next</a></li>
            <% } %>
        </ul>
    </div>
</content>
