<!--  파일명: header.ejs
      파일설명: 웹페에지의 header(헤더파일정의 및 로고를 포함한 상단바) 구현
      개발자: 신예나
      개발일: 2020.12. -->

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%=title%></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>
    <header class="container-fluid">
        <div class="row align-items-center">
            <div class="col-sm-3">
                <img src="/images/logo.png" alt="logo" height="60px">
            </div>
            <div class="col-sm-7"></div>
            <div class="col-sm-1"><small><a href="<%=regurl%>"><%=reglabel%></a></small></div>
            <div class="col-sm-1"><small><a href="<%=logurl%>"><%=loglabel%></a></small></div>
        </div>
    </header>
